{% load static %}
<!-- Footer -->
<div class="footer wow fadeInUp">
    <a href="https://portifoliojuanpablods.com.br" target="_blank" style="text-decoration: none;">
        <p>© 2023 | Juan Pablo Severo</p>
    </a>
</div>
</div>
</header>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery-min.js' %}"></script>
<script src="{% static 'js/jquery.mask.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/jquery.mixitup.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>