{% load static %}
<!-- Footer -->
<div class="footer wow fadeInUp">
    <a href="https://portifoliojuanpablods.com.br" target="_blank" style="text-decoration: none;">
        <p>© 2023 | Juan Pablo Severo</p>
    </a>
</div>
</div>
</header>
<style>
    :root {
--cor-title: {{cores.cor_titulo}};
--cor-title-second: {{cores.cor_titulo_dois}};
--cor-background: {{cores.cor_fundo_pagina}};
--cor--menu: {{cores.cor_menu}};
--cor-paragraph: {{cores.4.cor_titulo}};
--cor-span: {{cores.5.cor_titulo}};
--cor--box: {{cores.6.cor_titulo}};
--cor--about: {{cores.7.cor_titulo}};
--cor--back-text: {{cores.8.cor_titulo}};
--cor--about-background: {{cores.9.cor_titulo}};
--cor--about-h1: {{cores.10.cor_titulo}};
--cor--price-background: {{cores.11.cor_titulo}};
--cor--price-h1: {{cores.12.cor_titulo}};
--cor--price-p: {{cores.13.cor_titulo}};
--cor--price-money: {{cores.14.cor_titulo}};
--cor--price-box: {{cores.15.cor_titulo}};
--cor--price-value: {{cores.16.cor_titulo}};
--cor--price-span: {{cores.17.cor_titulo}};
--cor--price-pg: {{cores.18.cor_titulo}};
--cor--imagem-background: {{cores.19.cor_titulo}};
--cor--imagem-h1: {{cores.20.cor_titulo}};
--cor--question-background: {{cores.21.cor_titulo}};
--cor--question-h1: {{cores.22.cor_titulo}};
--cor--question-p: {{cores.23.cor_titulo}};
--cor--question-box: {{cores.24.cor_titulo}};
--cor--question-span: {{cores.25.cor_titulo}};
--cor--contact-background: {{cores.26.cor_titulo}};
--cor--contact-h1: {{cores.27.cor_titulo}};
--cor--contact-p: {{cores.28.cor_titulo}};
--cor--contact-box: {{cores.29.cor_titulo}};
--cor--contact-span: {{cores.30.cor_titulo}};

}
  </style>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery-min.js' %}"></script>
<script src="{% static 'js/jquery.mask.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/jquery.mixitup.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>