{% load static %}
<!-- Footer -->
<div class="footer wow fadeInUp">
    <a href="https://portifoliojuanpablods.com.br" target="_blank" style="text-decoration: none;">
        <p>© 2023 | Juan Pablo Severo</p>
    </a>
</div>
</div>
</header>
<style>
    :root {
--cor-title: {{cores.cor_titulo}};
--cor-title-second: {{cores.cor_titulo_dois}};
--cor-background: {{cores.cor_fundo_pagina}};
--cor--menu: {{cores.cor_menu}};
--cor-paragraph: {{cores.cor_paragrafo}};
--cor-span: {{cores.cor_sublinhado_titulo}};
--cor--box: {{cores.cor_box}};
--cor--about: {{cores.cor_sobre}};
--cor--back-text: {{cores.cor_s.back_text.cor_titulo}};
--cor--about-background: {{cores.cor_sobre_fundo}};
--cor--about-h1: {{cores.cor_sobre_titulo}};
--cor--price-background: {{cores.cor_price_fundo}};
--cor--price-h1: {{cores.cor_price_titulo}};
--cor--price-p: {{cores.cor_price_texto}};
--cor--price-money: {{cores.cor_price_money}};
--cor--price-box: {{cores.cor_price_box}};
--cor--price-value: {{cores.cor_price_value}};
--cor--price-span: {{cores.cor_price_span}};
--cor--price-pg: {{cores.cor_price_pg}};
--cor--imagem-background: {{cores.cor_imagem_fundo}};
--cor--imagem-h1: {{cores.cor_imagem_titulo}};
--cor--question-background: {{cores.cor_question_fundo}};
--cor--question-h1: {{cores.cor_question_titulo}};
--cor--question-p: {{cores.cor_question_texto}};
--cor--question-box: {{cores.cor_question_box}};
--cor--question-span: {{cores.cor_question_span}};
--cor--contact-background: {{cores.cor_contact_fundo}};
--cor--contact-h1: {{cores.cor_contact_titulo}};
--cor--contact-p: {{cores.cor_contact_texto}};
--cor--contact-box: {{cores.cor_contact_box}};
--cor--contact-span: {{cores.cor_contact_span}};

}
  </style>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery-min.js' %}"></script>
<script src="{% static 'js/jquery.mask.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/jquery.mixitup.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>