{% load static %}
<!-- Contact -->
<div class="contact wow fadeInUp">
    <div class="container contact-div wow fadeInUp">
        <div class=" wow fadeInUp">
            <h1>COMO MARCAR</h1>
            <div class="price-elementor">
                <div class="price-elementor-div">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="contact-p">
            <p class="atention container">Toque no link abaixo e receba meu contato para começarmos sua transformação.</p>
        </div>
        <div class="container online wow fadeInUp">
                <span class="elementor-button-content-wrapper">
                    <span class="elementor-button-icon elementor-align-icon-left">
                    <div class="wow fadeInUp contact-card">
                        <a href="https://api.whatsapp.com/send?phone=5561993534637&text=Ol%C3%A1,%20Erick!%20Tenho%20interesse%20em%20saber%20mais%20sobre%20a%20sua%20consultoria%20on-line." target="_blank" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                        <div class="">
                            <div class="contact-contents">
                                <div class="contact-back">
                                    <div class="contact-back-content">
                                                <i aria-hidden="true" class="fab fa-whatsapp"></i></span>
                                                <p><span class="elementor-button-text">QUERO FAZER PARTE DO TIME</span>
                                                </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
            </span>
        </div>
    </div>
</div>