{% load static %}
<!-- Imagem -->
<div class="imagem wow fadeInUp">
    <div class="imagem-plan container wow fadeInUp">
        <div class=" wow fadeInUp">
            <h1>{{imagem.titulo}}</h1>
            <div class="price-elementor">
                <div class="price-elementor-div">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="imagem-pic wow fadeInUp">
            {% for img in imagem_lista  %}
            <img src="media/{{img.img}}" alt="">
            {% endfor %}
        </div>
    </div>
</div>