{% load static %}
<!-- Imagem -->
<div class="imagem wow fadeInUp">
    <div class="imagem-plan container wow fadeInUp">
        <div class=" wow fadeInUp">
            <h1>O QUE AS ALUNAS DIZEM:</h1>
            <div class="price-elementor">
                <div class="price-elementor-div">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="imagem-pic wow fadeInUp">
            <img src="{% static 'img/aluna2.jpeg' %}" alt="">
            <img src="{% static 'img/aluna1.jpeg' %}" alt="">
            <img id="whatimg" src="{% static 'img/aluna3.jpeg' %}" alt="">
            <img src="{% static 'img/aluna5.jpeg' %}" alt="">
            <img id="whatimge"src="{% static 'img/aluna4.jpeg' %}" alt="">
            <img style="height: 115vw" src="{% static 'img/aluna6.jpeg' %}" alt="">
        </div>
    </div>
    <div class="margin"></div>
</div>