/* personal presentation */
.personal-presentation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.personal-presentation img {
    width: 10em;
    height: 10em;
}
