/* personal presentation */
.personal-start{
    width: 100%;
    height: 100%;
    margin-bottom: 5em;
}
.personal-presentation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'russo', sans-serif;
    font-style: italic;
}
.personal-presentation h1 {
    width: 40em;
    height: 40em;
}
.personal-presentation img {
    width: 40em;
    height: 40em;
}
.personal-presentation a {
    font-size: 1em;
}
