:root {
    --cor-title: #1ac41c;
    --cor-title-second: #303031;
    --cor-paragraph: #edeff2;
    --cor-span:#fe6219;
    --cor--box: #0d0d0d;
    --cor--about: #0d0d0d;
    --cor--menu: #0d0d0d;
    --cor--back-text: #edeff2;
    --cor--about-background: #012a04;
    --cor--about-h1: #edeff2;
    --cor--details-background: #0d0d0d;
    --cor--details-titulo: #edeff2;
    --cor--details-p: #edeff2;
    --cor--price-background:#edeff2;
    --cor--price-h1: #000000;
    --cor--price-p: #54595f;
    --cor--price-money: #edeff2;
    --cor--price-box: #012a04;






  }
/* Menu */
nav {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: var(--cor--menu);
    position: fixed;
    width: 100%;
    z-index: 100;
    opacity: 1;
}
main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
    float: right;
}
.nav-list {
    list-style: none;
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--cor--about);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    padding-left: 0;
    padding-bottom: 110px;
}
.span-cor{
    color: #0bc7a0;
    font-weight: bold;
}
.nav-list li {
    letter-spacing: 3px;
    margin-left: 0;
    opacity: 0;
}
.mobile-menu {
    display: block;
    cursor: pointer;
    width: 80%;
    margin:auto;
}
.mobile-menu div {
    width: 42px;
    height: 3px;
    background: #fff;
    margin: 8px;
    margin-left: auto;
    transition: 0.3s;
}
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-9px, 10px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
.nav-list.active {
    transform: translateX(0);
}
.mobile-menu-ex {
    display: block;
    cursor: pointer;
}
@keyframes navLinkFade {
from {
    opacity: 0;
    transform: translateX(50px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}
.icon img {
    width: 6em;
    height: 6em;
}
.menu-icon {
    position: fixed;
    z-index:100;
    top:0;
    margin-top: 30px;
    left: 80%;
}
@media screen and (max-width: 800px) {
    .mobile-menu div {
        background: #fff;
        margin: 4px;
        transition: 0.3s;
        width: 25px;
        }
    .span{
        font-size: 0.8rem;
    }
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-4px, 2px);
    }
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-8px, -6px);
    }
    .nav-list a {
        font-size: 10px;
    }
    .nav-list a:hover {
        color: #F00;
        }
    }
/* personal presentation */
.personal-img{
    width: 100%;
    height: 750px;
    background-image: url('/../static/img/trainer.jpg');
    background-size: cover; /* Define o tamanho da imagem de fundo */
  /* Outras propriedades opcionais */
  background-position: center; /* Define a posição da imagem de fundo */
  background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
}
.personal-start{
    width: 100%;
    height: 100%;
    margin-bottom: 5em;
}
.personal-presentation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'russo', sans-serif;
    font-style: italic;
    padding-bottom: 100px;
}
.personal-presentation h1 {
    margin-bottom: 0;
    color: var(--cor-title);
}
.personal-presentation img {
    width: 30em;
    height: 30em;
}
.personal-presentation a {
    font-size: 1em;
    text-decoration: none;
    color: var(--cor-title);
}
/* personal about */
.about{
    width: 100%;
    height: 100%;
}
.background-about{
    background-color: var(--cor--about-background);
    padding-bottom: 3em;
}
.personal-about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'russo', sans-serif;
}
.personal-about h1 {
    margin-top: 2em;
    color: var(--cor--about-h1);
    font-style: italic;
    margin-bottom: 0.5em;
}
.about-card {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas de largura igual */
    grid-gap: 0;
    align-items: initial;

}
.about-elementor-div {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.about-elementor-div span{
    border-top: 4px solid #fb6018;
    width: 117px;
    margin: 0 auto;
    display: block;
    margin-bottom: 3em;
}
.card {
    display: flex;
  justify-content: initial; /* Alinha o conteúdo horizontalmente no centro */
  align-items: initial; /* Alinha o conteúdo verticalmente no centro */
    overflow: visible;
    width: 90%;
    height: 100%;
    margin-bottom: 84px;
    transition: transform 0.2s;
    margin-bottom: 30px;
    border: none;
    background-color: transparent;
    color: #e2e9ff;
    transition: transform 0.2s;
    flex-shrink: 0;
}
.card:hover{
    transform: scale(1.04);
}
.contents {
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
}
.front, .back {
    background-color: var(--cor--box);
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
.back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.back-content {
    position: relative;
    width: 99%;
    height: 99%;
    background-color: var(--cor--box);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}
.about-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.about-text span {
    color: var(--cor-title);
    font-family: 'russo', sans-serif;
    font-size: 1.1em;
}
.about-text li {
    color: var(--cor-span);
    font-size: 1.1em;

}
.about-text i {
    padding-left: 0.3em;
    padding-right: 0.1em;
}
.about-text p {
    font-family: 'Open Sans', sans-serif;
    color: var(--cor-paragraph);
    font-size: 1.1em;
}
/* personal details */
.details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'russo', sans-serif;

}
.details-inicial{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details-inicial h1{
    color: var(--cor--details-titulo);
    margin-top: 3em;
    font-style: italic;
}
.details-elementor-div {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 8px;
}
.details-elementor-div span{
    border-top: 4px solid #fb6018;
    width: 117px;
    margin: 0 auto;
    display: block;
    margin-bottom: 3em;
}
.details-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.details-padding{
    padding-bottom: 6em;
}
.details-item {
    flex: 1;
}
.details-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details-text img{
    width: 17em;
    height: 19em;
    margin-bottom: 3em;
}
.details-text p{
    color: var(--cor--details-p);
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 1.3em;
}
/* prices */
.price{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'russo', sans-serif;
    background-color: var(--cor--price-background);
}
.price-plan{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.price-plan h1 {
    color: var(--cor--price-h1);
    margin-top: 3em;
    font-style: italic;
}
.price-elementor-div {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 8px;
}
.price-elementor-div span{
    border-top: 4px solid #fb6018;
    width: 117px;
    margin: 0 auto;
    display: block;
    margin-bottom: 3em;
}
.price-plan img {
    height: 9em;
    width: 9em;
    margin-bottom: 3em;
    text-align: center;
}
.price-plan p {
    font-size: 1.4em;
    text-align: center;
    color: var(--cor--price-p);
}
.price-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    width: 47%;
    height: 100%;
    background-color: var(--cor--price-box);
}