:root {
    --cor-title: #00ff03; /* Vermelho */
    --cor-paragraph: #ffffff;
    --cor--box: #293328;
    --cor--about: #151515;
  }
/* Menu */
nav {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #011e24;
    height: 73px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
    float: right;
}
.nav-list {
    list-style: none;
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background: #011e24;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    padding-left: 0;
    padding-bottom: 110px;
}
.span-cor{
    color: #0bc7a0;
    font-weight: bold;
}
.nav-list li {
    letter-spacing: 3px;
    margin-left: 0;
    opacity: 0;
}
.mobile-menu {
    display: block;
    cursor: pointer;
    width: 80%;
    margin:auto;
}
.mobile-menu div {
    width: 42px;
    height: 3px;
    background: #fff;
    margin: 8px;
    margin-left: auto;
    transition: 0.3s;
}
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-9px, 10px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
.nav-list.active {
    transform: translateX(0);
}
.mobile-menu-ex {
    display: block;
    cursor: pointer;
}
@keyframes navLinkFade {
from {
    opacity: 0;
    transform: translateX(50px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}
.menu-icon {
    z-index:100;
    margin-top: 20px;
}
@media screen and (max-width: 800px) {
    .mobile-menu div {
        background: #fff;
        margin: 4px;
        transition: 0.3s;
        width: 25px;
        }
    .span{
        font-size: 0.8rem;
    }
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-4px, 2px);
    }
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-8px, -6px);
    }
    .nav-list a {
        font-size: 10px;
    }
    .nav-list a:hover {
        color: #F00;
        }
    }
/* personal presentation */
.personal-start{
    width: 100%;
    height: 100%;
    margin-bottom: 5em;
}
.personal-presentation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'russo', sans-serif;
    font-style: italic;
}
.personal-presentation h1 {
    margin-bottom: 0;
    color: var(--cor-title);
}
.personal-presentation img {
    width: 30em;
    height: 30em;
}
.personal-presentation a {
    font-size: 1em;
    text-decoration: none;
    color: var(--cor-title);
}
/* personal about */
.about{
    width: 100%;
    height: 100%;
    margin-bottom: 5em;
    background-color: var(--cor--about);
}
.card {
    overflow: visible;
    width: 100%;
    height: 100%;
    margin-bottom: 84px;
    transition: transform 0.2s;
    margin-bottom: 30px;
    margin-left: 30px;
    border: none;
    background-color: transparent;
    color: #e2e9ff;
    transition: transform 0.2s;
    flex-shrink: 0;
}
.card:hover{
    transform: scale(1.04);
}
.contents {
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
}
.front, .back {
    background-color: var(--cor--box);
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
.back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.back-content {
    position: relative;
    width: 99%;
    height: 99%;
    background-color: var(--cor--box);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}
.personal-about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'russo', sans-serif;
}
.personal-about h1 {
    margin-bottom: 0;
    color: var(--cor-title);
    font-style: italic;
    margin-bottom: 1em;
}
.about-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.about-text span {
    color: var(--cor-title);
    font-family: 'russo', sans-serif;
}
.about-text li {
    color: var(--cor-title);
}
.about-text i {
    padding-left: 0.3em;
    padding-right: 0.1em;
}
.about-text p {
    font-family: 'Open Sans', sans-serif;
    color: var(--cor-paragraph);
}

